<div class="jumbotron text-center">
  <h1>Full Stack Store App</h1>
  <p class="lead">
    Welcome to my final project as fruition of my 6 months 'Java Enterprise Development'-course.<br/>Special thanks to Timothy Leduc & the other trainers of Realdolmen & ofx VDAB for the opportunity!
  </p>
  <a class="btn btn-primary">Register</a>
  <a class="btn btn-success">Login</a>
</div>
<div class="container col-sm-11">
  <div class="row">
    <div class="col-md-4">
      <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
        <div class="card-header">Backend</div>
        <div class="card-body">
          <h5 class="card-title">Spring Backend</h5>
          <p class="card-text"> - MySQL database generated out of jpa-entities & -repositories.
            <br>- Database exposed through REST api using HAL-Explorer
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
        <div class="card-header">Frontend</div>
        <div class="card-body">
          <h5 class="card-title">Angular Front</h5>
          <p class="card-text">Featuring ngbootstrap & material (forms, tables)</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
        <div class="card-header">Extra</div>
        <div class="card-body">
          <h5 class="card-title">Lorem</h5>
          <p class="card-text">Ipsum dolor sit amet, consectetur adipisicing elit. Maiores aspernatur iste quibusdam
            facilis.</p>
        </div>
      </div>
    </div>
  </div>
</div>
