label {
    display: inline-block;
    width: 140px;
    text-align: right;
  }
  
  input {
    margin-left: 10px;
  }
  
  .container {
    background-color: bisque;
  }
  
  h4 {
    color: indigo;
    font-family: fantasy;
    font-size: 100%;
    letter-spacing: 2px;
  }
  mat-form-field {
    width: 100%;
  }