.full-width-table {
    width: 100%;
  }

table {
    background-color: white;
}
mat-paginator {
    background-color:burlywood;
    color: palevioletred;
    font-weight: bolder;
}
th {
    color: palevioletred;
    font-weight: bolder;
}
.container {
    background-color: beige;
}
th {
    background-color:burlywood;
}
.mat-column-action {
    width: 44%;
}