<nav class="navbar navbar-light">
  <a class="navbar-brand" [routerLink]="['/']">Store App</a>
  <ul class="nav">
    <li>
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" ngbDropdownToggle>Create</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu dropdown-menu-left">
          <button [routerLink]="['/product-form']" ngbDropdownItem>Product</button>
          <button [routerLink]="['/supplier-form']" ngbDropdownItem>Supplier</button>
          <button [routerLink]="['/customer-form']" ngbDropdownItem>Customer</button>
        </div>
      </div>
    </li>
    <li>
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" ngbDropdownToggle>View</button>
        <div ngbDropdownMenu aria-labelledby="navbarDropdown2" class="dropdown-menu dropdown-menu-right">
          <button [routerLink]="['/product-list']" ngbDropdownItem>Products</button>
          <button [routerLink]="['/supplier-list']" ngbDropdownItem>Suppliers</button>
          <button [routerLink]="['/customer-list']" ngbDropdownItem>Customers</button>
        </div>
      </div>
    </li>
  </ul>
</nav>
