<div class="container">
  <div mat-elevation-z8>
    <button mat-icon-button (click)="($event)">
      <fa-icon [icon]="faEye"></fa-icon>
    </button>
    <mat-form-field>
      <input matInput (keyup)="doFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>

    <table  mat-table class="full-width-table" 
            matSort
            aria-label="products"
            [dataSource]="dataSourceProducts">
      
      <!-- Name  -->
      <ng-container matColumnDef="productName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>PRODUCT</th>
        <td mat-cell *matCellDef="let product">{{product.productName}}</td>
      </ng-container>

      <!-- price -->
      <ng-container matColumnDef="pricePerUnit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>PRICE</th>
        <td mat-cell *matCellDef="let product"> €{{product.pricePerUnit}}</td>
      </ng-container>

      <!-- Action-button-icons -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let product" align="right" class="action-link">
          <button mat-stroked-button (click)="($event)">
            <fa-icon [icon]="faEye"></fa-icon>
          </button>
          <span style="font-size: 3em; color: blue;">
            <button mat-stroked-button (click)="($event)">
              <fa-icon [icon]="faTruck"></fa-icon>
            </button>
          </span>
          <span style="font-size: 3em; color: orange;">
            <button mat-stroked-button (click)="($event)">
              <fa-icon [icon]="faTools"></fa-icon>
            </button>
          </span>
          <span style="font-size: 3em; color: Tomato;">
            <button mat-stroked-button (click)="clickDelete(product)" ([ngModel])="product">
              <fa-icon [icon]="faTrashAlt"></fa-icon>
            </button>
          </span>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row (click)="click($event.target.value)" *matRowDef="let product; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator #paginator [length]="[products].length" [pageIndex]="0" [pageSize]="50"
      [pageSizeOptions]="[5, 10, 50, 100, 250]">
    </mat-paginator>
  </div>
</div>
