/* You can add global styles to this file, and also import other style files */

html,
body {
  margin: 5;
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: goldenrod;
}
